@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Lato, sans-serif;
    background-color: #232e33;
}

/* Navigation Bar */

nav.navbar {
    display: flex;
    background-color: #192024;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    height: 52px;
}

ul.navbar-links {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.nav-link {
    display: block;
    text-decoration: none;
    height: 20px;
    padding: 15px;
    color: white;
    border-bottom: 2px solid #192024;
}

.nav-link:hover {
    border-bottom: 2px solid #ffffff;
}

.active {
    border-bottom: 2px solid rgb(250, 156, 172);
}

/* Resto */

h1 {
    padding: 20px;
    color: white;
    text-align: center;
}

.content {
    display: flex;
}

.content div {
    text-align: center;
    padding: 15px;
    color: white
}

.content-jogos {
    display: flex;
}

.links-jogos {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    width: max-content;
}

.links-jogos div {
    padding: 15px;
}

.jogo-icon {
    height: 180px;
    width: 135px;
}

.jogo-icon:hover {
    box-shadow: 0px 0px 30px 5px rgba(250, 156, 172, 0.637);

    transform: scale(1.01);
}

.img-game-logo {
    height: 250px;
    width: 187.5px;
    border: solid 1px black;
    box-shadow: 0px 0px 25px 2px black;
}

.text-container {
    width: 100%;
}

.left-text {
    text-align: left;
}

#title {
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    font-size: 18px;
}

.tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.platform-icon {
    height: 25px;
    width: 25px;
}


/* Footer */

.footer-container {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    justify-content: space-between;
    background-color: #192024;
}

.logo-uniube img {
    height: 46px;
    width: 150px;
}

.logo-uniube {
    height: 30px;
    width: 150px;
    padding: 20px;
}

.nome {
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.insta-logo {
    height: 35px;
    width: 35px;
    padding-right: 20px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}