* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Lato, sans-serif;
    background-color: #232e33;
}

nav.navbar {
    display: flex;
    background-color: #192024;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    height: 52px;
}

ul.navbar-links {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.nav-logo {    
    background-color: #192024;
    height: 35px;
    padding: 10px;
}

.nav-link {
    display: block;
    text-decoration: none;
    height: 20px;
    padding: 15px;
    color: white;
    border-bottom: 2px solid #192024;
}

.nav-link:hover {
    border-bottom: 2px solid #ffffff;
}

.active {
    border-bottom: 2px solid rgb(250, 156, 172);
}

h1 {
    /* display: block; */
    padding: 20px;
    color: white;
    text-align: center;
}

.content {
    height: 73vh;
    display: flex;
}

.content div {
    text-align: center;
    padding: 15px;
    color: white
}

.footer-container {
    display: flex;
    height: 120px;
    width: auto;
    justify-content: space-between;
    background-color: #192024;
}

.logo-uniube {
    height: 30px;
    width: 150px;
    padding: 20px;
}

.images {
    display: flex;
    padding: 30px;
}

.images div {
    padding: 20px;
}

.images img {
    height: 180px;
}

.images img:hover {
    box-shadow: 0px 0px 30px 5px rgb(250, 156, 172);
    transform: scale(1.02);
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome {
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    font-weight: bold;    
}

.insta-logo {

    height: 35px;
    width: 35px;
    padding-right: 20px;
}

.img-game-logo {
    height: 250px;
    border: solid 1px black;
    box-shadow: 0px 0px 25px 2px black;
}

.text-container {
    width: 100%;
}

.left-text {
    text-align: left;
}

#title {
    text-align: center;
}